<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".eventOrganizer.CloudinaryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eventify"
        android:screenOrientation="portrait"
        android:forceDarkAllowed="false"
        tools:targetApi="31">

        <activity
            android:name=".Admin.AdminAnalyticsReportEO"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAnalyticsReportsUtilizationStatistics"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAnalyticReportsAuditoriumBooking"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAnalyticsReportsEventHosted"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".eventOrganizer.EventTicketTypeList"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".eventOrganizer.TicketSetupPage"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".eventOrganizer.EventEditPage"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".eventOrganizer.EventDetail"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".eventOrganizer.EOAddEvent"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".attendees.AttendeesPaymentInformation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.EventOrganizerResetPassword"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDashboard"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.RegisterActivityEO"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminSignup"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".attendees.AttendeesEventList"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".attendees.AttendeesPurchaseTicket"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".attendees.AttendeesEventBookedDetail"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".attendees.AttendeesEventDetail"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".eventOrganizer.EventOrganizerDashboard"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".attendees.AttendeesDashboard"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminLoginPage"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_sg_kHjyvBwkGj1Jlh" />
        <meta-data
            android:name="com.google.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>